// Colors Primary
$darkBlueIntroEmail: hsl(217, 28%, 15%);
$darkBlueMainBackground: hsl(218, 28%, 13%);
$darkBlueFooterBackground: hsl(216, 53%, 9%);
$darkBlueTestimonials: hsl(219, 30%, 18%);

// Colors Accent
$cyanCTA: hsl(176, 68%, 64%);
$blueCTA: hsl(198, 60%, 50%);
$lightRedError: hsl(0, 100%, 63%);

//Colors Neutral
$white: hsl(0, 0%, 100%);
