html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #181f2a;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.features-container {
  padding-top: 8rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 0.8rem 4.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: 0;
  border-radius: 3.125rem;
  cursor: pointer;
  color: white;
  font-weight: 700;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover,
.button:hover {
  opacity: 0.8;
}

/*
//Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
*/
.header nav {
  padding: 1.5625rem;
}

.header__logo img {
  width: 5rem;
  height: 1.5rem;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: white;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0.7;
  /*
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -1px;
      }
      */
}

.header__links a:not(:last-child) {
  margin-right: 1.7rem;
}

.header__links a:hover {
  color: white;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__links a:hover::before {
  background: white;
}

.header__cta {
  font-size: 0.875rem;
  color: white;
}

.header__cta:hover {
  opacity: 0.75;
}

/*
// Alternate Breakpoints
$breakpoints: (
    small: 499px,
    medium: 699px,
    large: 999px,
    xlarge: 1399px
);

@mixin breakpoint($size){
    $breakpoint-value: map-get($breakpoints, $size);
    
    @media screen and (min-width: $breakpoint-value){
        @content;
    }
}
*/
.hero {
  text-align: center;
}

.hero__firstImage {
  position: relative;
  width: 100%;
  max-width: 545px;
  background-image: url("../../images/illustration-intro.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20rem;
  margin: 0 auto;
}

.hero__firstImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__secondImage {
  position: relative;
  width: 100%;
  max-width: 545px;
  background-image: url("../../images/illustration-stay-productive.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20rem;
  margin: 0 auto;
}

.hero__secondImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__text {
  text-align: center;
  padding-bottom: 2.8rem;
  margin-top: 5%;
}

@media (min-width: 64em) {
  .hero__text {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.hero__text h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.hero__text p {
  line-height: 1.5;
  font-size: inherit;
  margin-bottom: 2rem;
}

.hero__text span {
  position: relative;
  color: #65e2d9;
  font-weight: 400;
  cursor: pointer;
}

.hero__text span::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #65e2d9;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: url("../../images/icon-arrow.svg") no-repeat;
  width: 1.5625rem;
  height: 1.25rem;
  float: right;
  margin: 0 0 0 8.2rem;
}

.features {
  text-align: center;
}

@media (min-width: 64em) {
  .features {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 40em) {
  .features {
    text-align: left;
  }
}

.features__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 64em) {
  .features__intro {
    width: 60%;
  }
}

.features__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 6vw 10vw;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .features__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .features__grid {
    gap: 1.5vw 1.5vw;
  }
}

.features__item:not(:last-child) {
  padding-bottom: 2.5rem;
}

@media (min-width: 40em) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  margin-bottom: 30px;
}

@media (min-width: 64em) {
  .features__icon {
    margin-bottom: 0.5rem;
  }
}

.features__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

@media (min-width: 64em) {
  .features__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.features__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 90px;
  margin-bottom: 30px;
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial__content {
  padding-top: 1.5rem;
  padding-bottom: 8rem;
}

.testimonial__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .testimonial__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .testimonial__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.testimonial__item {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.testimonial__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.testimonial__text {
  padding: 1.875rem;
  background-color: #202a3c;
}

.testimonial__desc {
  font-size: 0.8125rem;
}

.testimonial__author {
  font-size: 1.0625rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}

.testimonial__subtext {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

.getaccess__content {
  padding-top: 1.5rem;
  padding-bottom: 8rem;
  margin: 0 auto;
}

.getaccess__grid {
  display: block;
}

.getaccess__item {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

.getaccess__text {
  padding: 1.875rem;
  background-color: #202a3c;
}

@media (min-width: 64em) {
  .getaccess__text {
    padding: 5rem;
  }
}

.getaccess__desc {
  font-size: 0.8125rem;
  text-align: center;
  padding-bottom: 1.875rem;
}

.getaccess__maintext {
  font-size: 1.0625rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 64em) {
  .getaccess__maintext {
    font-size: 2.5rem;
  }
}

.getaccess__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 25px;
  margin-top: 35px;
}

@media (min-width: 64em) {
  .getaccess__form {
    gap: 30px;
    margin-top: 40px;
  }
}

.getaccess__input {
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 3.125rem;
  display: inline-block;
}

.getaccess__button {
  padding: 1rem 3.9rem;
}

.footer {
  background-color: #0b1523;
  font-size: 1rem;
  padding-top: 6rem;
}

@media (min-width: 64em) {
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.footer a:hover {
  text-decoration: underline;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 35px;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "address" "contact" "links1" "links2" "social";
}

@media (min-width: 40em) {
  .footer .container {
    grid-column-gap: 25px;
  }
}

@media (min-width: 64em) {
  .footer .container {
    grid-column-gap: 35px;
    -ms-grid-columns: 3fr 2fr 2fr 2fr auto;
        grid-template-columns: 3fr 2fr 2fr 2fr auto;
    -ms-grid-rows: 60px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: "logo logo logo logo logo" "address contact links1 links2 social";
  }
}

@media (min-width: 87.5em) {
  .footer .container {
    grid-column-gap: 60px;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
}

.footer__address {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: address;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__address svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13px;
          flex: 0 0 13px;
  margin-top: 3px;
  margin-right: 20px;
}

.footer__contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contact;
}

@media (min-width: 64em) {
  .footer__contact {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.footer__contact a {
  font-size: 0.875rem;
}

.footer__contact-phone, .footer__contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact-phone {
  margin-bottom: 20px;
}

.footer__contact-phone svg {
  width: 18px;
  margin-right: 20px;
}

.footer__contact-email svg {
  width: 20px;
  margin-right: 20px;
}

.footer__links1 a, .footer__links2 a {
  display: block;
  margin-bottom: 20px;
}

.footer__links1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: links1;
}

@media (min-width: 64em) {
  .footer__links1 {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.footer__links2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: links2;
}

.footer__social {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: social;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 40em) {
  .footer__social {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.footer__social svg {
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  fill: #ffffff;
  margin-right: 16px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.footer__social svg:hover {
  background-color: rgba(255, 255, 255, 0.8);
  fill: #0b1523;
}
/*# sourceMappingURL=style.css.map */